/* Scoped styles inside a unique wrapper class */
.digi-clock-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/dandan.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    text-align: center;
    backdrop-filter: blur(5px);
}

.clock {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-weight: bold;
    font-family: monospace;
    display: inline-block;
}
